<app-menu></app-menu>

<div class="atendimento-container">
  <div class="info-header">
    <h2>Dados do Atendimento</h2>
    <p><strong>Paciente:</strong> {{ nome || 'Carregando...' }}</p>
    <p><strong>Idade:</strong> {{ idade ? idade + ' anos' : 'Carregando...' }}</p>
    <p><strong>Estagiário:</strong> {{ estagiarioNome || 'Carregando...' }}</p>
  </div>

  <form [formGroup]="atendimentoForm" (ngSubmit)="salvarAtendimento()" class="atendimento-form">

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Anamnese</mat-label>
        <textarea matInput formControlName="anamnese" rows="5"></textarea>
        <mat-error
          *ngIf="atendimentoForm.get('anamnese')?.touched && atendimentoForm.get('anamnese')?.hasError('required')">
          Este campo é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Exame Físico</mat-label>
        <textarea matInput formControlName="exameFisico" rows="5"></textarea>
        <mat-error
          *ngIf="atendimentoForm.get('exameFisico')?.touched && atendimentoForm.get('exameFisico')?.hasError('required')">
          Este campo é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Solicitação de Exames</mat-label>
        <textarea matInput formControlName="solicitacaoExames" rows="5"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Orientação</mat-label>
        <textarea matInput formControlName="orientacao" rows="5"></textarea>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Prescrição</mat-label>
        <textarea matInput formControlName="prescricao" rows="5"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Conduta</mat-label>
        <textarea matInput formControlName="conduta" rows="5"></textarea>
        <mat-error
          *ngIf="atendimentoForm.get('conduta')?.touched && atendimentoForm.get('conduta')?.hasError('required')">
          Este campo é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width-field">
      <mat-label>CID-10</mat-label>
      <input matInput formControlName="cid10">
    </mat-form-field>

    <div class="actions-container">
      <button mat-raised-button class="cancel-btn" (click)="cancelar()">Cancelar</button>
      <button mat-raised-button class="primary-btn" (click)="abrirModalExportarPDF()">Exportar PDF</button>
      <button mat-raised-button class="primary-btn" (click)="salvarAtendimento()">Salvar</button>
    </div>


  </form>
</div>