.content {
  margin-top: 100px;
  padding: 60px;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.main-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column-reverse; // Inverte a ordem no mobile
  }
}

.left-column,
.right-column {
  padding: 20px;
  background-color: #e8f0fe;
  border-radius: 8px;

  @media (max-width: 768px) {
    padding: 15px;
  }
}

.left-column {
  flex: 1;
}

.right-column {
  flex: 0.4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  @media (max-width: 768px) {
    flex: 1;
    align-items: stretch;
  }
}

.demo-inline-calendar-card {
  width: 300px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.appointment {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

h3 {
  color: #1976d2;
}

.schedule-btn {
  margin-top: 20px;
  width: 100%;

  @media (min-width: 769px) {
    width: auto;
  }
}

.appointment-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  flex-wrap: wrap;
}

mat-icon {
  font-size: 24px;
}

.custom-btn {
  background-color: #0d47a1 !important;
  color: #fff !important;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #0d47a1 !important;
  color: white !important;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s;
}

.edit-icon:hover {
  color: #1976d2;
  transform: scale(1.2);
}

.delete-icon:hover {
  color: red;
  transform: scale(1.2);
}

.status-msg {
  font-size: 13px;
  color: gray;
  margin-top: 5px;
}
.custom-btn:disabled {
  background-color: #b0bec5 !important; 
  color: #eceff1 !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}