<app-menu></app-menu>

<div class="content" *ngIf="tipoUsuario">
  <h2>Bem-vindo ao Interpront</h2>

  <div class="main-layout">
    <!-- Coluna da Esquerda: Lista de Agendamentos -->
    <div class="left-column">
      <h3>Agendamentos para {{ selected | date: 'dd/MM/yyyy' }}</h3>
      
      <div *ngIf="agendamentos.length === 0" class="sem-agendamentos">
          <p>Nenhum agendamento para esta data.</p>
      </div>

      <!-- Lista de agendamentos filtrada para cada perfil -->
      <div *ngFor="let agendamento of agendamentos" class="appointment">
        <p><strong>Horário:</strong> {{ agendamento.hora }}</p>
        <p><strong>Paciente:</strong> {{ agendamento.nome }}</p>
        
        <p *ngIf="tipoUsuario === 'Secretaria' || tipoUsuario === 'Professor'">
          <strong>Estagiário:</strong> {{ agendamento.estagiarioNome }}
        </p>
        
        <p *ngIf="tipoUsuario === 'Secretaria'">
          <strong>Professor:</strong> {{ agendamento.professorResponsavelNome }}
        </p>

        <!-- Container de Ações (botões) -->
        <div class="appointment-actions">
          
          <!-- Botão "Iniciar Atendimento" (só para Estagiário) -->
          <ng-container *ngIf="tipoUsuario === 'Estagiário'">
            <button
              mat-raised-button
              class="custom-btn"
              (click)="iniciarAtendimento(agendamento)"
              *ngIf="!dataNoPassado"
              [disabled]="agendamento.status === 'finalizado' || agendamento.status === 'aceito' || agendamento.status === 'rejeitado'">
              {{ (agendamento.status === 'aceito' || agendamento.status === 'rejeitado') ? 'Avaliado' : (agendamento.status === 'finalizado' ? 'Realizado' : 'Iniciar Atendimento') }}
            </button>
          </ng-container>

          <!-- Botão "Avaliar" (só para Professor) -->
          <ng-container *ngIf="tipoUsuario === 'Professor'">
            <button
              *ngIf="agendamento.status === 'finalizado'"
              mat-stroked-button
              class="custom-btn"
              (click)="irParaAvaliacao(agendamento)">
              Avaliar
            </button>
            <mat-chip-listbox *ngIf="agendamento.status === 'aceito' || agendamento.status === 'rejeitado'">
              <mat-chip [ngClass]="agendamento.status" disabled>
                {{ agendamento.status | titlecase }}
              </mat-chip>
            </mat-chip-listbox>
          </ng-container>
          
          <!-- Botões de edição e exclusão (só para Secretaria) -->
          <ng-container *ngIf="tipoUsuario === 'Secretaria'">
            <mat-icon class="edit-icon"
              *ngIf="!dataNoPassado"
              (click)="abrirModalAgendamento(agendamento)">
              edit
            </mat-icon>
            <mat-icon class="delete-icon"
              *ngIf="!dataNoPassado"
              (click)="verificarIdEExcluir(agendamento.id)">
              delete
            </mat-icon>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Coluna da Direita: Calendário -->
    <div class="right-column">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected" (selectedChange)="buscarAgendamentos($event)" [dateFilter]="filtroDatas"></mat-calendar>
      </mat-card>
      
      <!-- Botão de agendar (só para Secretaria) -->
      <button
        mat-raised-button
        class="custom-btn schedule-btn"
        *ngIf="tipoUsuario === 'Secretaria'"
        (click)="abrirModalAgendamento()"
        [disabled]="dataNoPassado">
        Agendar Atendimento
      </button>
    </div>
  </div>
</div>
